* {
	outline: none;
	box-sizing: border-box
}

body, html {
	height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin: 0
}

body {
	position: relative;
	min-width: 300px;
	display: flex;
	height: auto;
	font-family: $ff;
	font-size: $fs-md;
	line-height: $lh;
	color: $black;
	background-color: $white
}

img {
	display: block;
	max-width: 100%;
	height: auto
}

ul {
	margin: 0;
	padding: 0;
	list-style: none
}

button {
	border: 0;
	background-color: transparent;
}

fieldset,form, input {
	border: 0;
	padding: 0;
	margin: 0;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;

	.footer {
		margin-top: auto
	}
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $white;
	border-radius: 100px;
	color: #0F0F0F;
	font-family: $ff;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%;
	padding: 14px 30px;
	white-space: nowrap;
	transition: background-color ease $tr,
		opacity ease $tr;
	cursor: pointer;

	&:hover {
		background-color:#CACACA; 
	}

	&:active {
		opacity: 0.4;
	}

	&__wrapper {
		display: flex;
		justify-content: center;
	}
}